<h1>Editing Teammate</h1>
<div class="card">
    <div class="card-block">
<%= render 'form' %>

<%= link_to 'Back', @teammate %> |
<%= link_to 'Destroy', @teammate, method: :delete, data: { confirm: 'Are you sure?' } %> 
