// Place all the styles related to the Teammates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
    float: left;
    margin-right: 8px;
}

.card-block {
    padding: 8px;
}

.card {
    margin-bottom: 5px;
}